@import url("https://fonts.googleapis.com/css2?family=Forum&family=Signika+Negative:wght@300&family=Spectral:ital@0;1&family=Syne:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.first-name {
  @apply h-24 hover:drop-shadow-[0_0_1.5em_#f189ffaa];
  transition: filter 300ms;
}

.last-name {
  @apply h-24 hover:drop-shadow-[0_0_1.5em_#00ffffaa];
  transition: filter 300ms;
}
